{% extends 'base.html' %}
{% block title %} Home Page {% endblock%}
{% load static %}
{% block content %}
            <!-- Home page-->
            <section class="home">
                <div class="tittle-block">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{% static 'img/nav-logo2.png' %}" alt="logo">
                        </a>
                    </div>
                    {% if user.is_authenticated %}
                        <h1> Welcome {{user.get_full_name}} </h1>
                    {% endif %}

                    <h1>e - Nadi </h1>
                    <h2>your healthy support system</h2>
                </div>
                <div class="scroll-down">
                    <a href="#about">
                        <img src="{% static 'img/arrow-down.png' %}" alt="down-arrow">
                    </a>
                </div>
            </section>

            <!-- UPDATEEE -->
            <section class="special">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header wow fadeInDown">
                                <h1 class="white">Update !!!<small>The little things you may missed</small></h1>
                            </div>
                        </div>
                    </div>
                    <div class="row wow fadeInUp">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="flexslider special-slider">
                                <ul class="slides">
                                    {%for new in news_list %}
                                    <li>
                                        <div class="slider-img">
                                            <img src="{% static 'img/thumb4.png' %}" alt="" />
                                        </div>
                                        <div class="slider-content">
                                            <div class="page-header">
                                                <h1>{{new.title}}<small>{{new.thumbnail}}</small></h1>
                                            </div>
                                            <p>{{new.intro}}</p>

                                            <a class="btn btn-secondary" href="{% url 'readmore' slug=new.slug %}" role="button">read more</a>

                                        </div>
                                    </li>
                                    {%endfor%}
                                    
                                </ul>
                                <div class="direction-nav hidden-sm">
                                    <div class="next">
                                        <a><img src="{% static 'img/right-arrow.png' %}" alt="" /></a>
                                    </div>
                                    <div class="prev">
                                        <a><img src="{% static 'img/left-arrow.png' %}" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- About page-->
            <section class="about" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header wow fadeInDown">
                                <h1>Workout<small>stay healthy by tracking your workout activity.</small></h1>
                            </div>
                        </div>
                    </div>
                    <div class="row wow fadeInUp">
                        <div class="col-md-4">
                            <div class="container-fluid">
                                
                                <img src="{% static 'img/oranglari.jpg' %}" data-mfp-src="img/fullImages/pic1.jpg" class="img-responsive" alt="logo">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>
                                We realize that this pandemic situation completely changes our lifestyle. Together, the whole community elements neck and neck stop the spread of covid-19. Some people say that the economy won’t recover unless we can stop the transmission of the virus. Good immunity is a major factor to prevent us from getting infected. 
                            </p>
                            <br>
                            <p>
                                Introducing our workout tracker. We provide you a feature that helps you stay within your target. 
                            </p>
                            <a class="btn btn-default" href="./index.html" role="button">More</a>

                        </div>
                    </div>
                </div>
            </section>

            <section class="about" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header wow fadeInDown">
                                <h1>Sleep<small>having enough sleep ?</small></h1>
                            </div>
                        </div>
                    </div>
                    <div class="row wow fadeInUp">
                        <div class="col-md-8">
                            <p>
                                Sleep is an essential function, it can recharge your body and mind, so that you can wake up refreshed and stay awake. Healthy sleep also helps the body stay healthy and stay away from disease. Without enough sleep, the brain cannot function properly. This can impair your ability to concentrate, think clearly, and process memory.
                            </p>
                            <br>
                            <p>
                                Many adults underestimate the importance of sleep. We know there are so many people that is not sleep properly. With this feature, we help you to track your sleep hour and make sure you have good immunity during this pancemic situation.
                            </p>
                            <a class="btn btn-default" href="./index.html" role="button">More</a>

                        </div>
                        <div class="col-md-4">
                            <div class="container-fluid">
                                
                                <img src="{% static 'img/koalabobo.jpg' %}" data-mfp-src="img/fullImages/pic1.jpg" class="img-responsive" alt="logo">
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="about" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header wow fadeInDown">
                                <h1>the menu<small>trouble finding right diet ? why not try ours ??</small></h1>
                            </div>
                        </div>
                    </div>
                    <div class="row wow fadeInUp">
                        <div class="col-md-4">
                            <div class="container-fluid">
                                
                                <img src="{% static 'img/healthydiet.jpg' %}" data-mfp-src="img/fullImages/pic1.jpg" class="img-responsive" alt="logo">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p>
                                A healthy diet may help prevent certain long-term (chronic) diseases, such as heart disease, stroke, and diabetes. It may also help reduce your risk of certain cancers and help you maintain a healthy weight.
                            </p>
                            <br>
                            <p>
                                We realize there are some people that hard to get an idea of a healthy meal. They just scroll down social media to find a recipe. In this feature, you can see a bunch of references for your menu. No need to worry, these menus are healthy diets.
                            </p>
                            <a class="btn btn-default" href="./index.html" role="button">More</a>


                        </div>
                        
                      
                    </div>
                </div>
            </section>

            <section class="about" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header wow fadeInDown">
                                <h1>Healthy Advice<small>Increase your knowledge and motivation</small></h1>
                            </div>
                        </div>
                    </div>
                    <div class="row wow fadeInUp">
                        <div class="col-md-8">
                            <p>
                                Sleep is an essential function, it can recharge your body and mind, so that you can wake up refreshed and stay awake. Healthy sleep also helps the body stay healthy and stay away from disease. Without enough sleep, the brain cannot function properly. This can impair your ability to concentrate, think clearly, and process memory.
                            </p>
                            <br>
                            <p>
                                Many adults underestimate the importance of sleep. We know there are so many people that is not sleep properly. With this feature, we help you to track your sleep hour and make sure you have good immunity during this pancemic situation.
                            </p>
                            <a class="btn btn-default" href="./index.html" role="button">More</a>

                        </div>
                        <div class="col-md-4">
                            <div class="container-fluid">
                                
                                <img src="{% static 'img/koalabobo.jpg' %}" data-mfp-src="img/fullImages/pic1.jpg" class="img-responsive" alt="logo">
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <section class="about" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header wow fadeInDown">
                                <h1><small>help us improve the website</small></h1>
                            </div>
                        </div>
                    </div>
                    <div class="row wow fadeInUp">
                        
                        
                       
                        
                        <a class="btn btn-default" href="{% url 'feedback' %}" role="button">Feedback</a>
                    </div>
                </div>
            </section>

            
{% endblock %}

