{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %} <meta charset="UTF-8"> {% endblock %}
    {% block title %} <title>Workout Page</title> {% endblock %}

</head>
<body>
  <section class="features">
    <h1>What would you like to do?</h1>
    <h2>{{exercise.user}}</h2>
    <h2>{{exercise.today}}</h2>
    <h2>{{exercise.time}}</h2>
    <a href="{% url 'w_reset' %}">Reset Tracker</a>
    <p>Reset today's tracker to zero.</p>
    <a href="{% url 'w_update' %}">Update Today</a>
    <p>Update the day's workout time tracker. How long have you done your workout regime?</p>
  </section>
</body>
</html>

{% endblock %}
