h3 {
    font-weight: 800;
    text-align: left;
    font-size: 20px;
    color: #4B4741;
    margin: 0 0 23px;
}
.body {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.main-wrapper {
    position: relative;
    background: #fff;
}
.page_header {
    background-size: cover;
    padding: 200px 0 150px;
}

.page_header h1 {
    margin: 0;
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
    color: #fff;
}

.page_header p {
    margin: 15px 0;
    font-size: 24px;
    font-family: 'Raleway';
    color: #fff;
    opacity: 0.7;
}
.recipie-content {
    padding: 85px 0;
}

.recipie-content img {
    width: 96%;
    float: none;
    margin-bottom: 20px;
    
    
    /* 
    margin-bottom: 20px;
    float: left;
    width: 254px;        
    */
}


.rc-info {
    margin-left: 0px;
    text-align: left;
    
    /* 
    margin-left: 296px;
    text-align: left;
    width: 40.5%;
    height: 100%;
    display:block;
    margin-left: 296px;
    */
}


.rc-info h2 {
    margin: 0;
    font-size: 20px;
    color: #4b4741;
    text-align: left;
}

.rc-info p {
    font-size: 17px;
    line-height: 32px;
    color: #4b4741;
    padding-right: 29px;
    font-family:"Josefin Sans", sans-serif;

}
.rc-ratings {
    margin: 12px 0px 10px;
}

.recipie-content .btn-default {
    color: #534120;
    padding: 17px;
    border: 1px solid #F2BA57;
    font-size: 13px;
    line-height: 14px;
    border-radius: 1px;
    font-weight: 700;
    margin-top: 12px;
    background-color: #f9c56a;
    margin-bottom: 30px;
}
.recipie-content .btn-default:hover{
    transform: scale(1.1);
    transition: .4s;
    opacity: 1;
    overflow: hidden;
}

.recipie-content hr {
    margin: 70px 0px;
    border-color: #dedede;
    width: 98%;
}

.carousel-fade{
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel-fade{
    opacity: 1 !important;
}
.carousel-item{
    padding: 200px 0 150px;
    color:white;
    position: relative;
    background-position:center;
    background-size: cover;
    background:black;
    
}

.container-carousel{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:50px;
    margin-left:150px;
}
.overlay-image{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.fa{
    color:gold;
}
.fas{
    color:red;
    
}