/* <!--Font Family RaleWay--> */
@import url(https://fonts.googleapis.com/css?family=Raleway:900,800,700,600,400,300,200,100);
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #4b4741;
    text-align: center;
    font-weight: 800;
    margin:0;
    padding:0;
}

p {
    font-family: "Montserrat", san-serif;
    color: #828281;
    font-size: 22px;
}
a {
    text-decoration: none;
}
.body {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.main-wrapper {
    position: relative;
    background: #fff;
}
.page_header {
    padding: 200px 0 150px;
    color:white;
    position: relative;
    background-position:center;
    background-size: cover;
    background:black;
    text-align: left;
    
}

.page_header h1 {
    margin: auto;
    font-size: 70px;
    line-height: 70px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

.page_header p {
    margin: 15px 0;
    font-size: 24px;
    font-family: 'Raleway';
    color: #fff;
    opacity: 0.8;
    text-align: center;
}
.recipie-content {
    padding: 85px 0;
}

.recipie-content img {
    width: 100%;
    float: none;
    margin-bottom: 20px;


    /*
    margin-bottom: 20px;
    float: left;
    width: 254px;
    */
}


.rc-info {
    margin-left: 0px;
    text-align: left;

    /*
    margin-left: 296px;
    text-align: left;
    width: 40.5%;
    height: 100%;
    display:block;
    margin-left: 296px;
    */
}


.rc-info h2 {
    margin: 0;
    font-size: 20px;
    color: #4b4741;
    text-align: left;
}

.rc-info p {
    font-size: 17px;
    line-height: 32px;
    color: #4b4741;
    padding-right: 29px;
    font-family: "Montserrat", san-serif;
    text-align: left;
}
.rc-ratings {
    margin: 12px 0px 10px;
}

.recipie-content .btn-default {
    color: #534120;
    padding: 17px;
    border: 1px solid #F2BA57;
    font-size: 13px;
    line-height: 14px;
    border-radius: 1px;
    font-weight: 700;
    margin-top: 12px;
    background-color: #f9c56a;
    margin-bottom: 20px;
}
.recipie-content .btn-default:hover{
    transform: scale(1.1);
    transition: .4s;
    opacity: 1;
    overflow: hidden;
}

.recipie-content hr {
    margin: 70px 0px;
    border-color: #dedede;
    width: 98%;
}

.carousel-item {
    padding: 350px 0 150px;
    color:white;
    position: relative;
    background-position:center;
    background-size: cover;
    background:black;
    text-align: left;

}

.carousel-favorite{
    padding: 70px 0;
}
.carousel-favorite .btn-default{
    color: white;
    border: 1px solid #007BFF;
    border-radius: 1px;
    background-color: #007BFF;
}
.carousel-favorite h3{
    font-weight: 800;
    text-align: left;
    font-size: 20px;
    color: #4B4741;
    margin: 0 0 23px;
}

.carousel-favorite p{
    color: #fff;
    text-align: left;
    padding: 20px 0px;
}
.carousel-favorite h1{
    font-size: 40px;
    line-height: 20px;
    font-weight: 800;
    color: #fff;
    text-align: left;
}
.container-carousel{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin-left:150px;
    margin-bottom:80px
}
.overlay-image{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.fa{
    color:gold;
}
.fas{
    color:red;

}