.abc {
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.col-md-4 {
    display: flex;
    align-items: center;
}
.checked {
    color: orange;
}

.my-btn {
    background-color: inherit !important;
    border: 0 !important; 
}
.bintangbintang {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.futer {
    flex-direction: column !important;
}
.judulkartu{
    font-family: "Raleway", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: bolder;
    font-size:large;
    padding: 12px;
}
.container-form{
    display: flex;
    justify-content: center;
}
.formContainer{
    padding: 20px;
    border-radius: 12px;
    margin: 24px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.comment-box {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}
.hihokartu:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.hihokartu {
    max-width: 500px !important;
    min-width: 500px !important;
    max-height: 500px !important;
    min-height: 352px !important;
}
.gambar {
    object-fit: cover;
    width: 150px;
    margin: 12px;
}