{% extends 'base.html' %} 
{% block content %}
<!-- Header with image -->
<div class="w3-content">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="{{details.image_article}}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" style="min-width: 100vw; min-height: 80vh;">
    </div>

    <div class="w3-col m6 w3-padding-large" style="padding: 120px 20%">
      <h1 class="w3-center">{{details.title}}</h1><br>
      <h5>{{details.created_at}}</h5>
      <p class="w3-large" style="text-align: justify;">{{details.deskripsi}}
        
    </p>
    <!-- Halodoc, Jakarta – Di zaman modern yang semakin sibuk ini, istirahat yang cukup menjadi hal yang sudah tidak lagi diprioritaskan. Padahal istirahat yang cukup sangat penting untuk membantu menjaga kesehatan dan kesejahteraan kamu secara optimal.
        Faktanya, tidur sama pentingnya dengan olahraga teratur dan makan makanan yang seimbang. Tidak hanya bisa membuat kamu merasa lebih segar, istirahat yang cukup juga bisa memberikan banyak manfaat kesehatan, antara lain:

        Memperkuat Sistem Kekebalan Tubuh
        Istirahat yang cukup setiap malam sudah dikaitkan dengan sistem kekebalan tubuh yang kuat. Hal itu karena tidur memungkinkan tubuh untuk memperbaiki, meregenerasi, dan memulihkan diri.
        Membantu Menjaga Berat Badan
        Durasi tidur juga dikaitkan dengan nafsu makan, obesitas, dan indeks massa tubuh. Penelitian sudah menunjukkan bahwa orang yang cukup tidur cenderung mengonsumsi lebih sedikit kalori, bahkan lebih termotivasi untuk berolahraga, yang keduanya bisa mengurangi risiko kelebihan berat badan dan obesitas.
        Meningkatkan Daya Ingat, Konsentrasi, dan Produktivitas
        Tidur memengaruhi banyak aspek dari fungsi otak kamu, termasuk kinerja, kognisi, konsentrasi, memori, dan produktivitas. 

        Saat kamu tidur, otak kamu tetap aktif dan melakukan proses yang disebut konsolidasi. Menurut penelitian, hal itu bisa meningkatkan kemampuan belajar kamu dengan memperkuat koneksi saraf yang membentuk ingatan.

        Mencegah Depresi
        Menurut sebuah studi di Jurnal Psikiatri Australia dan Selandia Baru, orang dengan gangguan tidur seperti insomnia cenderung menunjukkan tanda-tanda depresi. Itulah mengapa penting untuk mendapatkan istirahat yang cukup untuk menjaga kesehatan mental kamu dan mencegah depresi.
        Berikut ini cara-cara yang bisa kamu coba untuk mendapatkan manfaat istirahat yang cukup:

Cobalah untuk tidur pada waktu yang sama setiap malam.
Hindari bermain gadget atau menonton TV menjelang waktu tidur.
Cobalah untuk menghabiskan lebih banyak waktu di luar ruangan pada pagi hari.
Kurangi waktu tidur siang menjadi 20 menit atau kurang.  -->
      <!-- <p class="w3-large w3-text-grey w3-hide-medium">Manfaat Istirahat yang Cukup dan Cara Memperolehnya
        Halodoc, Jakarta – Di zaman modern yang semakin sibuk ini, istirahat yang cukup menjadi hal yang sudah tidak lagi diprioritaskan. Padahal istirahat yang cukup sangat penting untuk membantu menjaga kesehatan dan kesejahteraan kamu secara optimal. 
        
        
        Faktanya, tidur sama pentingnya dengan olahraga teratur dan makan makanan yang seimbang. Tidak hanya bisa membuat kamu merasa lebih segar, istirahat yang cukup juga bisa memberikan banyak manfaat kesehatan, antara lain:
        
        Memperkuat Sistem Kekebalan Tubuh
        Istirahat yang cukup setiap malam sudah dikaitkan dengan sistem kekebalan tubuh yang kuat. Hal itu karena tidur memungkinkan tubuh untuk memperbaiki, meregenerasi, dan memulihkan diri.</p>
    </div>
    <div class="w3-large w3-text-grey w3-hide-medium">
      <ol>
        <li>Memperkuat Sistem Kekebalan Tubuh
          <div>
            Istirahat yang cukup setiap malam sudah dikaitkan dengan sistem kekebalan tubuh yang kuat. Hal itu karena tidur memungkinkan tubuh untuk memperbaiki, meregenerasi, dan memulihkan diri.
          </div>
        </li>
        <li>Membantu Menjaga Berat Badan</li>
        <div>
          Durasi tidur juga dikaitkan dengan nafsu makan, obesitas, dan indeks massa tubuh. Penelitian sudah menunjukkan bahwa orang yang cukup tidur cenderung mengonsumsi lebih sedikit kalori, bahkan lebih termotivasi untuk berolahraga, yang keduanya bisa mengurangi risiko kelebihan berat badan dan obesitas.
        </div>
        <li>Meningkatkan Daya Ingat, Konsentrasi, dan Produktivitas</li>
        <div>
          Tidur memengaruhi banyak aspek dari fungsi otak kamu, termasuk kinerja, kognisi, konsentrasi, memori, dan produktivitas. 

          Saat kamu tidur, otak kamu tetap aktif dan melakukan proses yang disebut konsolidasi. Menurut penelitian, hal itu bisa meningkatkan kemampuan belajar kamu dengan memperkuat koneksi saraf yang membentuk ingatan.
        </div>
        <li>Mencegah Depresi</li>
        <div>
          Menurut sebuah studi di Jurnal Psikiatri Australia dan Selandia Baru, orang dengan gangguan tidur seperti insomnia cenderung menunjukkan tanda-tanda depresi. Itulah mengapa penting untuk mendapatkan istirahat yang cukup untuk menjaga kesehatan mental kamu dan mencegah depresi.
        </div>
        <div>
          Berikut ini cara-cara yang bisa kamu coba untuk mendapatkan manfaat istirahat yang cukup:
            <ul>
              <li>Cobalah untuk tidur pada waktu yang sama setiap malam.</li>
              <li>Hindari bermain gadget atau menonton TV menjelang waktu tidur.</li>
              <li>Cobalah untuk menghabiskan lebih banyak waktu di luar ruangan pada pagi hari.</li>
              <li>Kurangi waktu tidur siang menjadi 20 menit atau kurang. </li>
            </ul>
        </div>
      </ol>  
      <div> source : https://www.halodoc.com/artikel/manfaat-istirahat-yang-cukup-dan-cara-memperolehnya</div>
    </div>
  </div> -->
  
  <hr>
  
  <!-- Menu Section -->
    
<!-- End page content -->
</div>
{% endblock %}
