{% extends 'base_healthy.html' %} 
{% block title %}Healthy Advice{% endblock %}
{% block content %}
 

    <div class="container-healthyAdvice">
        <section class = "page-wrapper">
            <div clas = "section section-hero section-shaped">
                <div class="shape shape-style-3 shape-default">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active position-relative">
                                <a href="https://coolwallpapers.me">
                                    <img class="d-block w-100" src="https://coolwallpapers.me/picsup/3053079-ball_basketball_beach_buildings_city_dark-clouds_daylight_game_holiday_hotel_landscape_leisure_outdoors_palm-trees_people_person_playing_recreation_relaxation_sport_street_summer_sunset_tourism_t.jpg" alt="First slide">
                                </a>
                                <div class="abc container shape-container d-flex align-items-center py-lg position-absolute">
                                    <div class="col px-0">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-lg-6 text-center">
                                                <div class="text-white display-1">Quick Advice</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item position-relative">
                                <a href="https://mocah.org">
                                    <img class="d-block w-100" src="https://mocah.org/thumbs/5317447-fruit-food-cherry-red-juicy-healthy-summer-sweet-dark-rich-shiny-closeup-detail-macro-android-wallpaper-desktop-background-wallpapers-hd-foodie-wallpaper-free-stock-photos.jpg" alt="Second slide">
                                </a>
                                <div class="abc container shape-container d-flex align-items-center py-lg position-absolute">
                                    <div class="col px-0">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-lg-6 text-center">
                                                <div class="text-white display-1">Quick Advice</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item position-relative">
                                <a href="https://www.asiaholidayretreats.com">
                                    <img class="d-block w-100" src="https://www.asiaholidayretreats.com/wp-content/uploads/2018/06/yogain-bali-1000x668.jpg" alt="Third slide">
                                </a>
                                <div class="abc container shape-container d-flex align-items-center py-lg position-absolute">
                                    <div class="col px-0">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-lg-6 text-center">
                                                <div class="text-white display-1">Quick Advice</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        </div>
                </div>
            </div>
            <div class = "contents" style=" display: flex;justify-content: center;padding: 12px;">
                <div class = "card container" style="margin: 20px;display: flex;flex-direction: row;flex-wrap: wrap;align-content: space-between;justify-content: space-around;align-items: center; padding: 20px;">
                    <div class="card mb-3" style="max-width: 360px;">
                        <div class="row no-gutters">
                          <h5 class="card-title judulkartu">Manfaat Istirahat yang Cukup dan Cara Memperolehnya</h5>
                          <div class="col-md-4">
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/34730/nurse-health-care-clipart-md.png" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <p class="card-text isikartu">Tidur sama pentingnya dengan olahraga teratur dan makan makanan yang seimbang. Tidak hanya bisa...</p>
                              <p class="card-text updatekartu"><small class="text-muted">Last updated 3 mins ago</small></p>
                              <a href=# class="btn btn-lg btn-info"> View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width: 360px;">
                        <div class="row no-gutters">
                          <h5 class="card-title judulkartu">Manfaat Donor Plasma Konvalesen pada Pasien Covid-19</h5>
                          <div class="col-md-4">
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/35209/nursing-elderly-care-clipart-md.png" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <p class="card-text isikartu">Untuk mencegah dampak yang lebih buruk, banyak orang yang mulai mencoba untuk mendapatkan donor...</p>
                              <p class="card-text updatekartu"><small class="text-muted">Last updated 3 mins ago</small></p>
                              <a href=# class="btn btn-lg btn-info"> View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width: 360px;">
                        <div class="row no-gutters">
                          <h5 class="card-title judulkartu">4 Jenis Olahraga Ringan di Rumah selama Pandemi</h5>
                          <div class="col-md-4">
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/35073/nursing-elderly-care-clipart-md.png" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <p class="card-text isikartu">Olahraga sangat baik untuk menjaga kesehatan tubuh, terutama untuk menghindari serangan dari virus corona...</p>
                              <p class="card-text updatekartu"><small class="text-muted">Last updated 3 mins ago</small></p>
                              <a href=# class="btn btn-lg btn-info"> View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width: 360px;">
                        <div class="row no-gutters">
                          <h5 class="card-title judulkartu">Cara Jaga Kesehatan Mental saat Pandemi COVID-19</h5>
                          <div class="col-md-4">
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/37727/nurse-woman-advice-clipart-md.png" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <p class="card-text isikartu">Sejak virus corona menjadi pandemi dunia, perasaan, dan pikiran buruk terkait tentang masa depan orang-orang...</p>
                              <p class="card-text updatekartu"><small class="text-muted">Last updated 3 mins ago</small></p>
                              <a href=# class="btn btn-lg btn-info"> View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width: 360px;">
                        <div class="row no-gutters">
                          <h5 class="card-title judulkartu">Tips Berbelanja Makanan Selama Pandemi COVID-19</h5>
                          <div class="col-md-4">
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/35248/nurse-health-care-clipart-md.png" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <p class="card-text isikartu">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text updatekartu"><small class="text-muted">Last updated 3 mins ago</small></p>
                              <a href=# class="btn btn-lg btn-info"> View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mb-3" style="max-width: 360px;">
                        <div class="row no-gutters">
                          <h5 class="card-title judulkartu">Cara Cek Saturasi Oksigen Normal saat Pandemi Corona</h5>
                          <div class="col-md-4">
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/36421/doctor-advise-clipart-md.png" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <p class="card-text isikartu">Penyakit paru-paru seperti COVID-19 bisa menyebabkan kadar oksigen dalam darah menurun. Kondisi tersebut...</p>
                              <p class="card-text updatekartu"><small class="text-muted">Last updated 3 mins ago</small></p>
                              <a href=# class="btn btn-lg btn-info"> View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
              <div class="bintangbintang">
                <!-- add id image -->
                <form class='rate-form' action="" method="POST" id="rate-form">
                  {% csrf_token %}
                  <button type= "submit" class="fa fa-star my-btn" id="first"></button>
                  <button type= "submit" class="fa fa-star my-btn" id="second"></button>
                  <button type= "submit" class="fa fa-star my-btn" id="third"></button>
                  <button type= "submit" class="fa fa-star my-btn" id="fourth"></button>
                  <button type= "submit" class="fa fa-star my-btn" id="fifth"></button>
                </form>
              </div>
              <br>
              <div id="confirm-box"></div>
        </section>

        
    </div>`
    <!-- INI WOY -->
    <script>
      console.log("HALO NGAB")
          // get all the stars
      let one = document.getElementById("first")
      let two = document.getElementById('second')
      let three = document.getElementById('third')
      let four = document.getElementById('fourth')
      let five = document.getElementById('fifth')
      
      // form.map((f)=>{
      //     f.map((element)=>{
      //         console.log(element)
      //         let one = document.getElementById("first")
      //         let two = document.getElementById('second')
      //         let three = document.getElementById('third')
      //         let four = document.getElementById('fourth')
      //         let five = document.getElementById('fifth')
      //         const arr = [one, two, three, four, five]
      //         arr.forEach(item=> item.addEventListener('mouseover', (event)=>{
      //             handleSelect(event.target.id)
      //         }))
      //     })
      // })
      
      const form = document.querySelector('.rate-form')
      const confirmBox = document.getElementById('confirm-box')
      const csrf = document.getElementsByName('csrfmiddlewaretoken')
      
      const handleStarSelect = (size) => {
          const children = form.children
          for (let i=0; i< children.length; i++){
              if (i <= size){
                  children[i].classList.add('checked')
              }
              else{
                  children[i].classList.remove('checked')
              }
          }
      }
      console.log(one)
      
      // longer version to be optimized
      const handleSelect = (selection) => {
          switch(selection){
              case 'first':{
                  // one.classList.add('checked')
                  // two.classList.remove('checked')
                  // three.classList.remove('checked')
                  // four.classList.remove('checked')
                  // five.classList.remove('checked')
                  handleStarSelect(1)
                  return
              }
              case 'second':{
                  // one.classList.add('checked')
                  // two.classList.add('checked')
                  // three.classList.remove('checked')
                  // four.classList.remove('checked')
                  // five.classList.remove('checked')
                  handleStarSelect(2)
                  return
              }
              case 'third':{
                  // one.classList.add('checked')
                  // two.classList.add('checked')
                  // three.classList.add('checked')
                  // four.classList.remove('checked')
                  // five.classList.remove('checked')
                  handleStarSelect(3)
                  return
              }
              case 'fourth':{
                  // one.classList.add('checked')
                  // two.classList.add('checked')
                  // three.classList.add('checked')
                  // four.classList.add('checked')
                  // five.classList.remove('checked')
                  handleStarSelect(4)
                  return
              }
              case 'fifth':{
                  // one.classList.add('checked')
                  // two.classList.add('checked')
                  // three.classList.add('checked')
                  // four.classList.add('checked')
                  // five.classList.add('checked')
                  handleStarSelect(5)
                  return
              }
              
          }
      
      }
      const getNumericValue = (stringValue) =>{
          let numericValue;
          if (stringValue === 'first'){
              numericValue = 1
      
          }
          else if (stringValue === 'second'){
              numericValue = 2
          }
          else if (stringValue === 'third'){
              numericValue = 3
          }
          else if (stringValue === 'fourth'){
              numericValue = 4
          }
          else if (stringValue === 'fifth'){
              numericValue = 5
          }
          else{
              numericValue = 0
          }
          return numericValue
      }
      
      if (one){
          const arr = [one, two, three, four, five]
          
          arr.forEach(item=> item.addEventListener('mouseover', (event)=>{
              handleSelect(event.target.id)
          }))
          
          arr.forEach(item => item.addEventListener('click', (event)=>{
              const val = event.target.id
              console.log(val)
              
              form.addEventListener('submit', e=>{
                  e.preventDefault()
                  const id = e.target.id
                  console.log(id)
                  const val_num = getNumericValue(val)
      
                  $.ajax({
                      type: 'POST',
                      url: '/healthy_advice/rate_anu',
                      data: {
                          'csrfmiddlewaretoken' : csrf[0].value,
                          'el_id' : id,
                          'val' : val_num,
                      },
                      success: function(response){
                          console.log(response)
                          confirmBox.innerHTML = '<h1>Thank you for your feedback😊 $(response.score)</h1>'
                      },
                      error: function(error){
                          console.error(error);
                          confirmBox.innerHTML = '<h1>MASIH SALAH YA ALLAH PUSYANG😊 </h1>'
                      }
                  })
              })
          }))
      }
      </script>

    

{% endblock %}

