<div class="container-form" >
	<section class = "formContainer" style="display: flex;justify-content: center;">
		{% if user.is_authenticated %}
		<form action="" method="POST" style="display: flex; flex-direction: column; gap: 16px;" class = "align-items-center">
			<div class = "subTitleForm">
				<h4 style="justify-content: center;display: flex;">Leave a constructive comment below</h4> 
			</div>
			<!-- biar yang kayak gt gak kevalidasi -->
			{% csrf_token %} 
			<div class = "form-group form-wrapper comment-box" >
				<div class="fieldWrapper">

					{{ form.to.errors }}
					<!-- <label 
					for="{{ form.comment.id_for_label }}"
					class="d-flex justify-content-start w-100">Leave a comment:</label> -->
					<!-- class="d-flex justify-content-end w-100" -->
					<div class="d-flex justify-content-end w-100">{{form.comment_field}}</div>
				</div>
			</div>
			<div>
				
				<input type="submit" value="Post" id="submitbutton">
			</div>
		</form>
	</section>
</div>
<!-- <a href="#myDonasi">
	<input type="submit" value="Post" id="submitbutton">
</a> -->
{% else %}
<p class="p20px">Please login to add a comment</p>
{% endif %}
<div class="container mt-5 mb-5">
		<div class="d-flex justify-content-center row">
			<div class="col-md-8" id = "kartu-comment">
			</div>
		</div>
</div>