<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">

    <head>
        <title>Recipe Chicken Bruschetta</title>
        <link rel = "stylesheet" type= "text/css" href="{% static 'css/recipestyle.css' %}">

        <!-- icons -->
        <script src="https://kit.fontawesome.com/0ab3514e4e.js" crossorigin="anonymous"></script>

        <!-- Responsive Tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS & Script-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!--Font Family Monsserat-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="body">
            <div class="main-wrapper">
                <!-- Page Header -->
                <section class="page_header">
                    <div class="overlay-image" style="background-image:url(/static/img/header/satu.jpg)">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="text-uppercase"> Recipes</h1>
                                <p> ㅤHealtyh Food Bring Healthy Life</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="single-recipe">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-recipe-image">
                                    <img class= "img-responsive" src={% static '/img/recipie/recipe3.jpg' %} alt="image-recipe-detail" style= "width:100% ;"/>
                                </div>
                                <div class="clearfix"></div>
                                <h3>How To Make It</h3>
                                <br>
                                
                                <ol class="directions-list" >
                                    <li style="padding-top: 15px;"> Menggunakan spiralizer, buat zoodles dari zucchini.</li>
                                    <li>Tambahkan zoodles ke mangkuk besar, aduk dengan minyak zaitun dan bumbui dengan garam dan merica. Diamkan 15 menit.</li>
                                    <li style="padding-top: 15px;"> Tambahkan tomat, mozzarella, dan basil ke zoodles dan aduk hingga rata.</li>
                                    <li style="padding-top: 15px;">Hiasi dengan balsamic dan sajikan.</li>
                                </ol>

                            </div>
                            <div class="col-md-6">
                                <div class="container-detail">

                                </div>
                                <h3>Salad Caprese Zoodles</h3>
                                <p>Salad caprese zoodle adalah salad Italia sederhana, terbuat dari irisan mozzarella segar, tomat, dan basil manis, dibumbui dengan garam, dan minyak zaitun. Biasanya diatur di atas piring dalam praktik restoran.
                                    <br>sumber: <a href="https://www.delish.com/cooking/recipe-ideas/recipes/a47336/caprese-zoodles-recipe/"  >(Delish) </a>
                                </p>
                                <div class="ingredients">
                                    <h4 class="title">Ingredients</h4>
                                    <ul>
                                        <li> 4 zucchini besar</li>
                                        <li>2 sdm. minyak zaitun extra-virgin dan garam</li>
                                        <li>Lada hitam Fresh yang baru digiling</li>
                                        <li> 2 c. tomat ceri, dibelah dua</li>
                                        <li> 1 c. bola mozzarella, belah empat jika besar</li>
                                        <li> 1/4 c. daun basil segar </li>
                                        <li> 2 sdm. cuka balsamik </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    </section >
                        {% include 'recipe_carousel.html' %}  
                    <section>
                </section>
                

            </div>
        </div>
    </bod>
</html>
{% endblock %}