<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">

    <head>
        <title>Recipe Chicken Bruschetta</title>
        <link rel = "stylesheet" type= "text/css" href="{% static 'css/recipestyle.css' %}">

        <!-- icons -->
        <script src="https://kit.fontawesome.com/0ab3514e4e.js" crossorigin="anonymous"></script>

        <!-- Responsive Tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS & Script-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!--Font Family Monsserat-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="body">
            <div class="main-wrapper">
                <!-- Page Header -->
                <section class="page_header">
                    <div class="overlay-image" style="background-image:url(../static/img/header/satu.jpg)">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="text-uppercase"> Recipes</h1>
                                <p> ㅤHealtyh Food Bring Healthy Life</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="single-recipe">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-recipe-image">
                                    <img class= "img-responsive" src="https://hips.hearstapps.com/del.h-cdn.co/assets/17/23/1496939954-bruschetta-chicken-1sm.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="image-recipe-detail" style= "width:100% ;"/>
                                </div>
                                <div class="clearfix"></div>
                                <h3>How To Make It</h3>
                                <br>
                                <ol class="directions-list">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe rcitation ullamco laboris nisi ut aliquip exea commodo consequat.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe rcitation ullamco laboris nisi ut aliquip exea commodo consequat.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe rcitation ullamco laboris nisi ut aliquip exea commodo consequat.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe rcitation ullamco laboris nisi ut aliquip exea commodo consequat.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe rcitation ullamco laboris nisi ut aliquip exea commodo consequat.</li>
                                </ol>

                            </div>
                            <div class="col-md-6">
                                <div class="container-detail">

                                </div>
                                <h3>Bruschetta Grilled Chicken</h3>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                                <div class="ingredients">
                                    <h4 class="title">Ingredients</h4>
                                    <ul>
                                        <li>1/2 cup chopped red onions</li>
                                        <br>
                                        <li>2 ounce lemon drops chupas chups bear</li>
                                        <br>
                                        <li>3 pound seasme snaps powder gingerbread</li>
                                        <br>
                                        <li>1/4 cup jujubes jelly chupa</li>
                                        <br>
                                        <li>1/2 cup sour cream (optional)</li>
                                        <br>
                                        <li>1 ounce suger plum pastry fruitcake</li>
                                        <br>
                                        <li><i class="fa fa-check-square-o"></i>1/4 cup jujubes jelly chupa</li>
                                        <br>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                

            </div>
        </div>
    </bod>
</html>
{% endblock %}