<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">

    <head>
        <title>Recipe Chicken Bruschetta</title>
        <link rel = "stylesheet" type= "text/css" href="{% static 'css/recipestyle.css' %}">

        <!-- icons -->
        <script src="https://kit.fontawesome.com/0ab3514e4e.js" crossorigin="anonymous"></script>

        <!-- Responsive Tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS & Script-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!--Font Family Monsserat-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="body">
            <div class="main-wrapper">
                <!-- Page Header -->
                <section class="page_header">
                    <div class="overlay-image" style="background-image:url(/static/img/header/satu.jpg)">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="text-uppercase"> Recipes</h1>
                                <p> ㅤHealtyh Food Bring Healthy Life</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="single-recipe">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-recipe-image">
                                    <img class= "img-responsive" src="/static/img/recipie/recipe2.png" alt="image-recipe-detail" style= "width:100% ;"/>
                                </div>
                                <div class="clearfix"></div>
                                <h3>How To Make It</h3>
                                <br>
                                
                                <ol class="directions-list">
                                    <li>In a small bowl, combine oil, half the lemon juice, 1 teaspoon salt, 1/4 teaspoon pepper, and Italian seasoning (or oregano) and whisk to combine. Transfer to a large re-sealable bag along with chicken; seal and refrigerate for 30 minutes.</li>
                                    <li>Heat grill over medium-high then add chicken, discarding excess marinade. Grill until charred and cooked to an internal temperature of 165°, about 5 to 7 minutes per side.</li>
                                    <li>Meanwhile, combine tomatoes, garlic, basil, and remaining lemon juice, and season with salt and pepper. While chicken is still on grill, top each breast with 1 slice mozzarella and cover until cheese is melted, 2 to 3 minutes. Top chicken with tomato mixture.</li>
                                    <li style="padding-top: 15px;">Garnish with Parmesan and serve.</li>
                                </ol>

                            </div>
                            <div class="col-md-6">
                                <div class="container-detail">

                                </div>
                                <h3>Honey Walnut Shrimp</h3>
                                <p>Salad Caprese Zoodle adalah salad Italia sederhana, terbuat dari irisan mozzarella segar, tomat, dan basil manis, dibumbui dengan garam, dan minyak zaitun. Biasanya diatur di atas piring dalam praktik restoran.
                                    <br>sumber: <a href="https://www.delish.com/cooking/recipe-ideas/a25861120/honey-walnut-shrimp-recipe/"  >(Delish) </a>
                                </p>
                                <div class="ingredients">
                                    <h4 class="title">Ingredients</h4>
                                    <ul>
                                        <li>1/2 cup chopped red onions</li>
                                        <li>2 ounce lemon drops chupas chups bear</li>
                                        <li>3 pound seasme snaps powder gingerbread</li>
                                        <li>1/4 cup jujubes jelly chupa</li>
                                        <li>1/2 cup sour cream (optional)</li>
                                        <li>1 ounce suger plum pastry fruitcake</li>
                                        <li> 1/4 cup jujubes jelly chupa</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                

            </div>
        </div>
    </bod>
</html>
{% endblock %}