<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang=en>
    <head>
        <title>Nadi Recipe</title>
        <link rel = "stylesheet" type= "text/css" href="{% static 'css/recipestyle.css' %}">
        
        <!-- icons -->
        <script src="https://kit.fontawesome.com/0ab3514e4e.js" crossorigin="anonymous"></script>

        <!-- Responsive Tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Font Family Monsserat-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class ="body">
            <div class="main-wrapper">
                <!-- Page Header -->
                <section class="page_header">
                    <div class="overlay-image" style="background-image:url(../static/img/header/satu.jpg)">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="text-uppercase"> Recipes</h1>
                                <p> ㅤHealthy Food Bring Healthy Life</p>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Recipe Card -->
                <section class="recipie-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <img src= {% static '/img/recipie/recipe1.jpg' %} alt="" />
                                <div class="rc-info">
                                    <h2><b>Bruschetta Grilled Chicken </b></h2>
                                    <p>Bruschetta Grilled Chicken adalah hidangan pembuka berasal dari Italia, yang lezat dan cocok pada musim panas.</p>
                                    <a href="/recipe/bruschetta" class ="btn btn-default"> View Details</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src={% static '/img/recipie/recipe2.png' %} alt="" />
                                <div class="rc-info">
                                    <h2><b>Honey Walnut Shrimp</b></h2>
                                    <p>Hidangan ini adalah hidangan populer berasal dari Hong Kong yang sering disajikan pada banyak restorant.</p>
                                    <a href="/recipe/honey-walnut-shrimp" class ="btn btn-default"> View Details</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src={% static '/img/recipie/recipe3.jpg' %} alt="" />
                                <div class="rc-info">
                                    <h2><b>Salad Caprese Zoodles </b></h2>
                                    <p> Salad Caprese Zoodle adalah salad Italia sederhana.Salad ini Biasanya diatur di atas piring dalam praktik restoran.</p>
                                    <a href="/recipe/salad-caprese-zoodles/" class ="btn btn-default"> View Details</a>
                                </div>
                            </div>

                            <hr>
                            <div class="col-md-4">
                                <img src={% static '/img/recipie/recipe4.jpg' %} alt="" />
                                <div class="rc-info">
                                    <h2><b>Garlicky Greek Chicken</b></h2>
                                    <p>Terinspirasi oleh masakan populer di Yunani, resep paha ayam yang mudah ini akan menjadi favorit baru untuk kamu. </p>
                                    <a href="/recipe/garlicky-greek-chicken/" class ="btn btn-default"> View Details</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src={% static '/img/recipie/recipe5.jpg' %} alt="" />
                                <div class="rc-info">
                                    <h2><b> Baked Salmon</b></h2>
                                    <p>Salmon panggang adalah menu makana terbaik untuk memberi makan orang banyak. Sederhana dan lezat.</p>
                                    <a href="./recipe_detail.html" class ="btn btn-default"> View Details</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src={% static '/img/recipie/recipe3.jpg' %} alt="" />
                                <div class="rc-info">
                                    <h2><b>Honey Walnut Shrimp</b></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, nulla.</p>
                                    <a href="./recipe_detail.html" class ="btn btn-default"> View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="carousel-favorite">
                <!-- Bootstrap CSS & Script-->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

                <!-- Carousel slider -->
                <div class="container">
                    <hr>
                    <h3>Favorite Recipe</h3>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="overlay-image" style="background-image:url(../static/img/slider/slider1.jpg)"></div>
                                <div class="container-carousel">
                                    <h1>Example</h1>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, harum.</p>
                                    <a href="/recipe/bruschetta" class="btn btn-lg btn-primary"> View details</a>
                                </div>
                            </div>
                            <div class="carousel-item" >
                                <div class="overlay-image" style="background-image:url(../static/img/slider/slider2.jpg)"></div>
                                <div class="container-carousel">
                                    <h1>Example</h1>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, harum.</p>
                                    <a href="/recipe/honey-walnut-shrimp"  class="btn btn-lg btn-primary"> View details</a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container-carousel">
                                    <h1>Example</h1>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, harum.</p>
                                    <a href="./recipe_detail_bruschetta.html" class="btn btn-lg btn-primary"> View details</a>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                </section>
            </div>
        </div>


    </body>
</html>
{% endblock %}